extends ../auth.layout.pug

block content
    h1 Главная
    form(action="")
        label(for="email") email
        input(mane="email" id="email")
        label(for="password") password
        input(type="password", id="password")
        button выйти
    a(href="./main.html") на главную
block scripts
    script(src='./assets/scripts/index.bundle.js')