extends ../main.layout.pug

block variables
    - var title = "Главная"
block content
    h1 "Main page"
    p.italic gotham italic
    p.lightitalic gotham light italic
    p.bold gotham bold

block scripts
    script(src='main.bundle.js')