aside.menu
    nav.nav
        ul.nav__list
            li.nav__item
                a.nav__link(href="/main.html")
                    .nav__desc Главная
            li.nav__item
                a.nav__link(href="/reviews.html")
                    .nav__desc Отзывы
            li.nav__item
                a.nav__link(href="/prices.html")
                    .nav__desc Тарифы
