block variables

<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Congratulations!
        link(rel='stylesheet' href='assets/styles/main.min.css')
    body
        .wrapper
            .container
                .content
                    .content__top
                        button.button try now
                    .content__center
                        .offer
                            span.offer__text  &nbsp;We <span class = "offer__text--red">offer</span> you a <br> &nbsp; free demo account <br>  &nbsp; with <span class = "offer__text--green">$10,000</span> on it!
                    .content__bottom
                        .timer
                            span.timer__top You have just
                            .timer__center 04 : 56
                            span.timer__bottom to get the prize!
        block scripts