block variables

<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Congratulations!
        link(rel='stylesheet' href='assets/styles/main.min.css')
    body
        .wrapper
            .container
                button.button try now
                .offer
                    span.span We <span class = "offer__style-red">offer</span> you a <br>free demo account <br>with <span class = "offer__style-red">$10,000</span> on it!
                .timer
                    span.text You have just
                    .timer__text
                    span.text to get the prize!
        block scripts