
body, html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;

}

body{
    box-sizing: border-box;
    line-height: 1.42;
    color: $text-color;
}

.wrapper{
    width: 100%;
    overflow: hidden;
    min-height: 100%;
    position: relative;
    background: url(../images/bg/bg-orange.png) center center no-repeat, url(../images/bg/bg-blue.png) center center no-repeat;
    background-size: 100% 97%, cover;
    background-blend-mode: normal, multiply;
}
.container{
    width: 830px;
    height: 100vh;
    margin: 0 auto;
    background: url(../images/bg/circle.png) 50% 50.5% no-repeat;
    background-size: contain;
}
