
body, html {
    height: 100%;

}

body{
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.42;
    color: $text-color;
}
.italic {
    font-family: 'Gotham';
    font-weight: 300;
    font-style: normal;
}
.lightitalic {
    font-family: 'Gotham';
    font-weight: 300;
    font-style: italic;
}
.bold {
    font-family: 'Gotham';
    font-weight: 700;
    font-style: bold;
}

.wrapper{
overflow: hidden;
min-height: 100%;
position: relative;

}
.container{
    margin: 0 auto;
    width: 95%;
};