
@font-face {
    font-family: 'centurygothic';
    src: url('../fonts/centurygothic-bold-webfont.woff2') format('woff2'),
         url('../fonts/centurygothic-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: bold;
}

@font-face {
    font-family: 'compact';
    src: url('../fonts/compctan-webfont.woff2') format('woff2'),
         url('../fonts/compctan-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}


@font-face {
    font-family: 'lemonmilk';
    src: url('../fonts/lemonMilk.woff2') format('woff2'),
         url('../fonts/lemonMilk.woff') format('woff');
}
