@mixin phones {
    @media screen and (max-width: 480px) {
      @content;
    }
  }
@mixin tablets {
    @media screen and (max-width: 830px) {
      @content;
    }
  }

@mixin widescreen {
    @media screen and (min-width: 1600px) and (min-height: 1200px) {
      @content;
    }
  }