.button{
    position:absolute;
    background: url("../images/btn.png") center center no-repeat;
    background-size: cover;
    background-clip: content-box;
    border: none;
    width:300px;
    height:140px;
    padding:0;
    display: none;
}
.offer{
    font-family: 'lemonmilk';
    font-size: 142px;
    position: fixed;
    top:26.7%;
    left:28.5%;
    color: #fff;
}