.button{
    background: url('../images/bg/button_bg.svg') 0% 100% no-repeat;
    border: none;
    width:455px;
    height:210px;
    padding:0;
    font-family: 'lemonmilk';
    font-size: 70px;
    color: #fff;
    cursor: pointer;
    &:focus{
        outline:none;
    }
}


  