.offer{
    background: url('../images/bg/offer_bg.svg') center center no-repeat;
    background-size: cover;
    width: 730px;
    height: 360px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.offer__text{
    font-family: 'centurygothic';
    font-size: 65.5px;
    font-weight: bold;
    line-height: 0.968;
    text-align: center;
    padding-bottom: 25px;
    padding-right: 35px;
    &--red{
        color:#d7180d;
    }
    &--green{
        color:#015204;
    }
}