.offer{
    background: url('../images/bg/offer_bg.svg') center center no-repeat;
    background-size: cover;
    width: 730px;
    height: 360px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.offer__text{
    font-family: 'centurygothic';
    font-size: 65.5px;
    font-weight: bold;
    line-height: 0.968;
    text-align: center;
    padding-bottom: 25px;
    color: transparent; /*this hide the text*/
    text-shadow:
    0px 1px 0.5px #000,
     -1px -1px 0.5px #6c6c6c;
    padding-right: 35px;
    &--red{
        color:transparent;
        text-shadow:
        0px 1px 1px #d7180d,
         -1px -1px 1px #b67171;
    }
    &--green{
        color:#015204;
        color:transparent;
        text-shadow:
        0 1px 1px #015204, 
        -1px -1px 1px #446346;
    }
}