.timer {

    background: url('../images/bg/timer_bg.svg') center center no-repeat;
    background-clip: content-box;
    width:900px;
    height:421px;
    font-family: 'compact';
    font-size: 32px;
    color: #fff;
    display: flex;
    flex-direction: column;

}
.timer__top{
    margin-top: 125px;
    margin-left: 85px;
}
.timer__center{
    text-align: center;
    font-family: 'lemonmilk';
    font-size: 110px;
    line-height: .85;
    word-spacing: -1rem;
    margin-right: 15px;
}
.timer__bottom{
    text-align: right;
    margin-right: 106px;
}
  