.timer {

    background: url('../images/bg/timer_bg.svg') center center no-repeat;
    background-clip: content-box;
    width:450px;
    height:210px;
    font-family: 'compact';
    font-size: 16px;
    color: #fff;
    display: flex;
    flex-direction: column;

}
.timer__top{
    margin-top: 62px;
    margin-left: 43px;
}
.timer__center{
    text-align: center;
    font-family: 'lemonmilk';
    font-size: 55px;
    line-height: .85;
    word-spacing: -0.6rem;
    margin-right: 5px;
}
.timer__bottom{
    text-align: right;
    margin-right: 53px;
}
  