.timer {

    background: url('../images/bg/timer_bg.svg') center center no-repeat;
    background-clip: content-box;
    width:450px;
    height:210px;
    font-family: 'compact';
    font-size: 16px;
    color: #fff;
    display: flex;
    flex-direction: column;

    @include widescreen {
        width:900px;
        height:420px;
        font-size: 32px;
    }
    @include tablets {
        width: 305px;
        height: 156px;
        font-size: 11px;
    }
    @include phones {
        width: 190px;
        height: 75px;
        font-size: 6.5px;
    }


}
.timer__top{
    margin-top: 62px;
    margin-left: 43px;
    
    @include widescreen {
        margin-top: 124px;
        margin-left: 79px;
    }
    @include tablets {
        margin-top: 48px;
        margin-left: 23px;
    }
    @include phones {
        margin-top: 22px;
        margin-left: 29px;
    }

}

.timer__center{
    text-align: center;
    font-family: 'lemonmilk';
    font-size: 55px;
    line-height: .85;
    word-spacing: -0.6rem;
    margin-right: 5px;
    @include widescreen {
        font-size: 105px;
        margin-right: 25px;
        line-height: 0.9;
    }
    @include tablets {
        font-size: 38px;
        line-height: .89;
        word-spacing: -.3rem;
        margin-right: 8px;
    }
    @include phones {
        font-size: 19px;
        line-height: .8;
        word-spacing: -.1rem;
        margin-right: 5px;
    }

}
.timer__bottom{
    text-align: right;
    margin-right: 53px;
    @include widescreen {
        margin-right: 106px;
    }
    @include tablets {
        margin-right: 34px;
    }
    @include phones {
        margin-right: 32px;
    }

}
  